<div class="row">
    <div class="col-xs-12">
        <div ng-controller='HomeCtrl'>
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h1>SmartProgressbar<span class="text-muted">.js</span></h1>
                    <span>for Angular</span>
                </div>
            </div>
            <br/>
            <br/>
            <br/>
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h3>Examples:</h3>
                    <button class="btn btn-primary btn-raised" ng-click="fetch()">Test with progress bar</button>
                    <br/>
                    <button class="btn btn-primary" ng-click="fetch()"
                            allow-double-click="true">Allow Double Click
                    </button>
                    <br/>
                    <button class="btn btn-primary" ng-click="fetchWithSkipProgressBar()">Skip progress bar</button>
                </div>
            </div>
        </div>
    </div>
</div>