<div class="row">
    <div class="col-xs-12">
        <div ng-controller='HomeCtrl'>
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h1>SmartProgressbar<span class="text-muted">.js</span></h1>
                    <span class="text-muted">for Angular</span>
                </div>
            </div>
            <br/>

            <h3 class="text-center">Progress bar, which itself decides when it appears depending on the load.</h3>

            <br/>
            <br/>
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h4>Examples:</h4>
                    <button class="btn btn-default" ng-click="fetch()">Test with progress bar</button>
                    <button class="btn btn-default" ng-click="fetch()"
                            allow-double-click="true">Allow Double Click
                    </button>
                    <button class="btn btn-default" ng-click="fetchWithSkipProgressBar()">Skip progress bar</button>
                </div>
            </div>
            <br/>
            <br/>
            <br/>
            <div class="row">
                <div class="col-xs-12 text-center">
                    <a class="btn btn-success btn-lg btn-raised"
                       href="https://github.com/Selectorrr/smart-progressbar/releases"><i class="material-icons">file_download</i>
                        Download</a>
                </div>
            </div>

            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
        </div>
    </div>
</div>